In [1]:
import pandas as pd

In [9]:
# read a csv file
df = pd.read_csv('data/gl_kanu_data.csv', sep=',')

In [10]:
df

,index,q_ing_w1,fluid_w1,q_ing_w2,fluid_w2,q_ing_w3,fluid_w3,q_ing_w4,fluid_w4,q_ing_w5,fluid_w5,q_ing_w6,fluid_w6
0,1,2.84,1420,2.62,1310,3.32,1660,3.90,1950,3.51,1755,3.70,1850
1,2,1.66,1660,1.42,1420,1.85,1850,1.99,1990,1.83,1830,2.25,2250
2,3,1.34,1680,1.14,1430,1.50,1875,1.57,1960,1.47,1835,1.85,2310
3,4,1.02,1700,0.85,1415,1.13,1880,1.14,1900,1.07,1790,1.43,2380
4,5,0.66,1660,0.53,1330,0.74,1480,0.70,1750,0.68,1700,0.96,2390
5,6,0.34,1330,0.16,800,0.27,1330,0.24,1200,0.22,1120,0.37,1850

In [6]:
# Se ha reiniciado el estado, por lo que se debe volver a importar pandas y crear el archivo desde cero.

import pandas as pd

# Crear el DataFrame con los datos proporcionados
data = {
    "index": [0, 1, 2, 3, 4],
    "q_ing_w1": [125.00, 250.00, 500.00, 625.00, 875.00],
    "fluid_w1": [0.00, 186.42, 216.41, 194.81, 127.12],
    "q_ing_w2": [575.00, 625.00, 750.00, 825.00, 950.00],
    "fluid_w2": [0.00, 392.50, 427.47, 432.50, 432.08],
    "q_ing_w3": [275.00, 325.00, 400.00, 575.00, 800.00],
    "fluid_w3": [0.00, 432.50, 530.00, 604.99, 620.82],
    "q_ing_w4": [375.00, 400.00, 550.00, 600.00, 775.00],
    "fluid_w4": [0.00, 40.00, 382.37, 387.11, 333.25],
}

df = pd.DataFrame(data)

# Guardar en CSV
csv_path = "./data/well_data.csv"
df.to_csv(csv_path, index=False)

csv_path

'./data/well_data.csv'